
a:link {
    color: green;
    text-decoration: none;
  }
  
  /* Makes all visited links gray and with a line through */
  a:visited {
    color: gray;
    text-decoration: line-through;
  }
  
  /* Makes links purple and bold when hovered over */
  a:hover {
    color: blue;
    font-weight: bold;
  }